<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mARQ</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="container_3">
    <header class="header">
        <a href="../index.html"><img src="../assets/img/logo2.png" alt="" class="logo"></a>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="proyectos.html">Proyectos</a></li>
                <li><a href="imagenes.html">Imagenes</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="section_1_a">
        <h2>IMAGENES</h2>
    </div>
    <div class="section_3_b">
        <img class="img_1" src="../assets/img/foto8.jpg" alt="foto8">
    </div>
    <div class="section_3_c">
        <img class="img_1" src="../assets/img/foto9.jpg" alt="foto9">
    </div>
    <div class="section_3_d">
        <img class="img_1" src="../assets/img/foto10.jpg" alt="foto10">
    </div> 
    <div class="section_3_e">
        <img class="img_1" src="../assets/img/foto8.jpg" alt="foto8">
    </div>
    <div class="section_3_f">
        <img class="img_1" src="../assets/img/foto9.jpg" alt="foto9">
    </div>
    <div class="section_3_g">
        <img class="img_1" src="../assets/img/foto10.jpg" alt="foto10">
    </div>
    <footer class="footer">
        <ul>
            <li><img src="../assets/img/facebook.png" alt="facebook" width="50"></li>
            <li><img src="../assets/img/twitter.png" alt="twitter" width="50"></li>
            <li><img src="../assets/img/instagram.png" alt="instagram" width="50"></li>
        </ul>
        <p><small>© 2022 mARQ Arquitectura - Todos los derechos reservados.</small></p>
    </footer>
</body>
</html>